@import './base/common';
@import './base/reset';

@import './utils/variables';
@import './utils/hidden';

@import './components/container';
@import './components/section';
@import './components/title';
@import './components/main-btn';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/about';
@import './layout/team';
@import './layout/socials';
@import './layout/footer';
